name: Code formatting
on: [push, pull_request]

jobs:
  build:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install NPM
        run: npm install .
      - name: Check code formatting
        run: npm run check
